body {
    /* min-height: 75rem; */
    font-family: 'Work Sans', sans-serif;
}

p {
    line-height: 1.7em;
    margin-bottom: 2em;
}

h1 {
    font-size: 36px;
    font-weight: 200;
    color: white;
    margin-top: 212px;
    margin-bottom: 112px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h2 {
    margin-top: 1rem;
    font-weight: 200;
    font-size: 33px;
    line-height: 48px;
}

h3 {
    font-weight: 200;

}

.btn-primary {
    background-color: #6175a5;
    border-color: #6175a5;
}

.navbar {
    padding: 0;
}

.nav {
    padding: 1em;
}

#translations {
    padding: 0;
}

.nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 400;

}


.nav .navbar-nav .nav-link:hover {
    color: black !important;
}

.nav.active {
    background-color: #80BDC1;
    color: white;
}


footer {
    background-color: #432C4C;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    background-color: black;
    color: white;
}

footer ul {
	font-size: 18px;
	font-weight: 200;
	line-height: 36px;
	list-style: none;
	padding: 0;
}

footer ul li a {
	text-decoration: none;
	color: white;
	padding: 4px 12px;
}

footer ul li a:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}

footer ul i {
	display: inline-block;
	/* width: 36px; */
	font-size: 18px;	
}

footer ul i.fa {
	font-size: 18px;
}

p.logo_pie {
    padding: 0;
}


.jumbotron {
    margin-top: -2em;
    margin-bottom: 0px;
    background-color: #432c4c;
}


.quote {
    background-image: url(/theme/images/quote.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
}


.category-proyectos {
    color: purple;
}


.category-publicaciones {
    color: forestgreen;
}



#mynetwork {
    background-color: #432c4c;
    /* background-image: url(/theme/images/bg_acerca.jpg);     */
}

#mynetwork .vis-network:focus{
    outline: none;
}
