{% extends "base_alt.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

    {% block content %}

<div class="container" style="margin-top: 2em;">    
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
</div>
    
<div class="container" style="padding: 0 10% 0 10%; ">
  <h2>{{ article.title }}</h2>
  {% if article.subtitle %}<h3>{{ article.subtitle }}</h3>{% endif %}
  {% if article.image %}<img src="{{ article.image }}" style="float: left; margin: 1.2em;" width="33%" />{% endif %}

  {% if article.category %}
  <strong class="d-inline-block mb-2">
    <a href="{{ SITEURL }}/{{ article.category.url }}" class="category-{{ article.category }}">    
      {{ article.category }}
    </a>
  </strong>    
  {% endif %}
  
  <time class="published" datetime="{{ article.date.isoformat() }}">
    {{ article.locale_date }}
  </time>
  {% if article.modified %}
  <time class="modified" datetime="{{ article.modified.isoformat() }}">
    {{ article.locale_modified }}
  </time>
  {% endif %}
  {% if article.authors %}
  <address class="vcard author">
    Por {% for author in article.authors %}
    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    {% endfor %}
  </address>
  {% endif %}

    
    
  {{ article.content }}
</div>

    
{% endblock %}
