<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    
    {% include "html_head.html" %}

    {% block head %}
    
    {% endblock head %}
    
  </head>

  <body>

    {% include "navbar.html" %}

    <main role="main">
      {% block content %}

      {% endblock %}
    </main>

    {% include "footer.html" %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>

  </body>
</html>
