<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  
{% include "html_head.html" %}
  
<body>

 
<div class="container">  
  <header class="site-header sticky-top py-1">
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">    
	
	<!-- {% for title, link in MENUITEMS %} -->
	<!-- <a class="py-2 link-secondary" href="{{ link }}">{{ title }}</a> -->
	<!-- {% endfor %} -->


	{% if DISPLAY_PAGES_ON_MENU %}
	{% for p in pages %}
	{% if p == page %}<!-- class="active" -->{% endif %}
	<a class="py-2 link-secondary" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
	{% endfor %}
	{% endif %}
      </nav>
    </div>
  </header>
</div>


<hr />
<header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        {% endif %}
        </ul></nav><!-- /#menu -->
        {% block content %}
        {% endblock %}
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
