{% if carrusel %}
<div id="carousel_proyectos" class="carousel slide" data-ride="carousel" style="margin-top: 1em; margin-bottom: 3em;">
  <div class="carousel-inner">
    {% for slide in carrusel %}
    <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
      <img src="{{ slide.title_image }}" class="d-block w-100" alt="{{ slide.title }}">
      <div class="carousel-caption">
	<h5>{{ slide.title }}</h5>
	<p>{{ slide.summary }}</p>
	<a href="{{ slide.url }}" class="btn btn-primary mt-auto">leer más</a>
      </div>
    </div>
    {% endfor %}
    
  </div>
  <a class="carousel-control-prev" href="#carousel_proyectos" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel_proyectos" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}

<br />

