{% extends "base_alt.html" %}

{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

<script
type="text/javascript"
src="/theme/js/vis-network.min.js">
</script>


{% endblock %}



{% block content %}

<script type="text/javascript">

  var DIR = "img/soft-scraps-icons/";

  var nodes = null;
  var edges = null;
  var network = null;
  
// Called when the Visualization API is loaded.
function draw() {
    // create people.
    // value corresponds with the age of the person
    var DIR = "../img/indonesia/";
    nodes = new vis.DataSet([
  	{% for p in page.nodes %}
	{
	    id: {{ loop.index }},
	    shape: "circularImage",
	    image: "{{ p.headshot }}",
	    label: "{{ p.title }}",
	    url: "{{ p.url }}",
	    {% if p in page.socias %}
	    color: {
		border: "#80BDC1",
	    }
	    {% elif p in page.colaboradores %}
	    color: {
		border: "#601c4d",
	    }
	    {% elif p in page.aliados %}
	    color: {
		border: "#80BDC1",
	    }	    
	    {% endif %}
	},
	{% endfor %}
    ]);
	
// create connections between people
// value corresponds with the amount of contact between two people
    edges = [
	{% for e in page.edges %}
	{ from: {{ e.0 }}, to: {{ e.1 }} },
	{% endfor %}

];
	
// create a network
    var container = document.getElementById("mynetwork");
    var data = {
	nodes: nodes,
	edges: edges,
    };
    var afterzoomlimit = { //here we are setting the zoom limit to move to 
	scale: 0.5,
    };
    var options = {
	height: '400px',
	nodes: {
	    borderWidth: 3,
	    background: "white",
	    size: 30,
	    font: { color: "white" },
	},
	edges: {
	    color: "#80BDC1",
	    width: 2,
	    shadow: true
	},
    };
    network = new vis.Network(container, data, options);

    network.on("selectNode", function(params) {
        if (params.nodes.length === 1) {
            var node = nodes.get(params.nodes[0]);
            window.open(node.url, '_top');
        }
    });

    network.on("zoom", function() { //while zooming 
	if (network.getScale() <= 0.5 ) { //the limit you want to stop at
            network.moveTo(afterzoomlimit); //set this limit so it stops zooming out here
	} 
    });
}
</script>
  
  <div id="mynetwork"></div>

  <script>
    draw();
  </script>


<div class="container">


  
  {{ page.content }}
  



  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
  	{% for p in page.socias %}
        <div class="col-md-4">
	  <div class="card shadow-sm" style="margin-bottom: 2em; margin-left: 3.9em; margin-right: 2.9em; min-height: 38em;">
	    <img src="{{ p.headshot }}" class="card-img-top" alt="{{ p.title }}">
	    <div class="card-body  d-flex flex-column">
	      <h5 class="card-title">{{ p.title }}</h5>
	      <p class="card-text">{{ p.role }}</p>
	      <a href="{{ p.url }}" class="btn btn-primary mt-auto">more</a>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>


  {% if page.colaboradores %}
  <h2>Collaborators</h2>

  <div class="album py-5 bg-light"ss>
    <div class="container">
      <div class="row">
  	{% for p in page.colaboradores %}
        <div class="col-md-3">
	  <div class="card shadow-sm" style="margin-bottom: 2em; margin-left: 1em; margin-right: 1em; min-height: 27em;">
	    <img src="{{ p.headshot }}" class="card-img-top" alt="{{ p.title }}">
	    <div class="card-body  d-flex flex-column">
	      <h5 class="card-title">{{ p.title }}</h5>
	      <p class="card-text">{{ p.role }}</p>
	      <a href="{{ p.url }}" class="btn btn-primary mt-auto">more</a>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}


  {% if page.colaboradores %}
  <h2>Allies</h2>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
  	{% for p in page.aliados %}
        <div class="col-md-3">
	  <div class="card shadow-sm" style="margin-bottom: 2em; margin-left: 1em; margin-right: 1em; min-height: 25em;">
	    <img src="{{ p.headshot }}" class="card-img-top" alt="{{ p.title }}">
	    <div class="card-body  d-flex flex-column">
	      <h5 class="card-title">{{ p.title }}</h5>
	      <p class="card-text">{{ p.role }}</p>
	      <a href="{{ p.url }}" class="btn btn-primary mt-auto">more</a>
	    </div>
	  </div>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  


  <div class="quote" style="margin-top: 2em;">
    {% include "quote.html" %}
  </div>


{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}

{% if page.modified %}
<p>
  Last updated: {{ page.locale_modified }}
</p>
{% endif %}


<br />

  <div class="container row mb-3">
    <img src="/theme/images/mundo_alreves.png" width="100%" style="margin-left:auto; margin-right:auto; display:block;">
  </div>

  
</div>

<br />

{% endblock %}

<br />
