<footer class="footer mt-auto py-3" >
  <div class="container" style="margin-top: 7em;">
    <div class="container row mb-3">
      <div class="col-md-4 themed-grid-col">
	<ul>
	  {% for p in pages %}
	  <li>
	    <a href="{{ SITEURL }}{{ p.url }}">
	      <i class="fa {{ p.fa_icon }}" aria-hidden="true"></i>
	      {{ p.title }}</a></li>
	  {% endfor %}
	</ul>
      </div>
      
      <div class="col-md-5 themed-grid-col">
	<ul>
	  <li>
	    <a href="mailto:contacto@umbela.org">
	      <i class="fa fa-envelope" aria-hidden="true"></i>	      
	      contacto@umbela.org</a>
	  </li>
	  	  <li>
	    <a href="https://twitter.com/umbela_org">
	      <i class="fa fa-twitter" aria-hidden="true"></i>
	      @umbela_org</a>
	  </li>
	  <li>
	    <a href="https://www.youtube.com/@umbelats5684">
	      <i class="fa fa-youtube-play" aria-hidden="true"></i>
	      YouTube</a>
	  </li>
	  <li>
	    <a href="/politicas">
	      <i class="fa fa-legal" aria-hidden="true"></i>
	      Terms of use and privacy policy
	    </a>
	  </li>

	  <li>
	      <i class="fa fa-gift" aria-hidden="true"></i>
	      Authorized grantee
	    </a>
	  </li>

	</ul>

      </div>

      <div class="col-md-3 themed-grid-col">
	<p class="logo_pie"><img src="/theme/images/logo_pie.png" width="130%" /></p>
      
<center>
		<a href="https://www.paypal.com/donate?hosted_button_id=9PGJTXHR3EN66">
		<img src="/media/donatebutton.png" width="60%" />
		</a>
		</center>

	  
	  </div>
      
    </div>
  </div>
</footer>
