{% extends "base_alt.html" %}

{% block content %}



<div class="container" style="margin-top: 2em;">

  <div class="row mb-2">
    {% for article in articles_page.object_list %}    
    <div class="col-md-12">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
	  
          <strong class="d-inline-block mb-2 category-{{ article.category }}">{{ article.category }}</strong>
	  
          <h3 class="mb-0">{{ article.title }}</h3>
          <div class="mb-1 text-muted">{{ article.locale_date }}</div>
	  {% if article.authors %}
	  <address class="vcard author">
	    Por {% for author in article.authors %}
	    {{ author }}
	    {% endfor %}
	  </address>
	  {% endif %}
          <p class="card-text mb-auto">{{ article.summary }}</p>
          <a href="{{ article.url }}" class="stretched-link">leer más</a>
        </div>
        {% if article.image %}	
        <div class="col-auto d-none d-lg-block">
	  <img src="{{ article.image }}" style="max-height: 17em;" />
        </div>
	{% endif %}      
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>



{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
