<p>
  "The upside down world teaches us to suffer reality instead of 
  changing it, to forget the past instead of listening to it and accepting 
  the future instead of imagining it. The obligatory classes in school are 
  impotence, amnesia, and resignation"
</p>
<em>Eduardo Galeano</em>
